body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.topo {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.info {
  background: #fff;
  padding: 15px;
  font-size: 14px;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.catalogo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #fff;
  border-radius: 14px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.card input {
  display: none;
}

.card .conteudo {
  padding: 15px;
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio {
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
}

.card input:checked + .conteudo {
  border-radius: 12px;
}

.card input:checked ~ .conteudo .radio {
  background: #000;
  border-color: #000;
}

.card:has(input:checked) {
  border: 2px solid #000;
}

strong {
  font-size: 18px;
}

#btnWhats {
  margin: 20px;
  padding: 15px;
  font-size: 16px;
  background: #25d366;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#btnWhats:disabled {
  background: #aaa;
  cursor: not-allowed;
}
