* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* TOPO */
.topo {
  background: linear-gradient(#111, #000);
  color: #fff;
  text-align: center;
  padding: 25px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}
.topo.mostrar { opacity: 1; transform: translateY(0); }
.topo p { color: #ccc; font-size: 14px; }

/* INFOS */
.infos {
  display: flex;
  gap: 10px;
  padding: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}
.infos.mostrar { opacity: 1; transform: translateY(0); }

.info {
  background: #fff;
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  font-size: 13px;
}

/* PROVA SOCIAL */
.prova-social {
  margin: 0 15px 10px;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateY(15px);
  transition: 0.6s;
}
.prova-social.mostrar { opacity: 1; transform: translateY(0); }

/* TÍTULO CATÁLOGO */
h2 {
  padding: 0 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}
h2.mostrar { opacity: 1; transform: translateY(0); }

/* CATÁLOGO */
.catalogo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  border: 2px solid #ddd;
  box-shadow: 0 6px 8px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(20px);
}
.card.mostrar { opacity: 1; transform: translateY(0); }

.card.selecionado {
  border-color: #000;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.check {
  width: 26px;
